  <footer class="main-footer">
    
      
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.0.1
    </div>
    <strong>Copyright &copy; 2014-2015 <a href="http://www.facebook.com/mdakram28">AkBros</a>.</strong> All rights
    reserved.
    
    <form class="navbar-form navbar-right" style="margin-top: -6px;margin-right: 0px;" role="search" action="/submitFeedback" method="post">
        <div class="input-group form-group" style="border: 2px solid #DCDCDC;">
          <input type="text" class="form-control" id="navbar-search-input" style="width:500px" name="feed" placeholder="Feedback">
            <span class="input-group-btn">
              <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-bullhorn"></i>
              </button>
            </span>
            <input type="hidden" value="<%- req.originalUrl %>" name="redirect">
        </div>
      </form>
  </footer>